<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="layout/frag :: head">
    <meta charset="UTF-8">
    <title>Cars Dealer</title>
</head>
<body>
<div th:replace="layout/frag ::preloader"></div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a th:href="@{/home}" class="logo">Car Dealer<em> Website</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul th:switch="${user}" class="nav ml-auto">

                        <li>
                            <form th:action="@{/search}" method="post">
                                <div class="">
                                    <input type="text" th:value="${keyword}" name="keyword" style="background: transparent; border-radius: 9px; margin-top: 5px; border: 2px solid #ed563b; color: #ed563b" placeholder="Search..">
                                </div>
                            </form>
                        </li>

                        <li><a th:href="@{/home}">Home</a></li>
                        <li><a th:href="@{/cars}" class="active">Cars</a></li>

                        <li th:case="null">
                            <a th:href="@{/login-register}">Login/Register</a></li>

                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <li><a th:href="@{/management}">Management</a></li>
                        </div>

                        <div th:case="*">
                            <li style="display: inline-block"><a th:href="@{/deal}">Order</a></li>
                            <li style="display: inline-block"><a th:href="@{/logout}">Logout</a></li>
                        </div>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action"
         th:style="'background:url(' + @{/assets/images/banner-image-1-1920x500.jpg} + ')'">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Our <em>Cars</em></h2>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

<!-- ***** Fleet Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <br>
        <br>
        <div class="contact-form">
            <form class="" th:action='@{/cars}' id="contact">
                <div class="row d-flex justify-content-center">
                    <div style="text-align: center" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label></label>
                            <select class="text-center" name="body">
                                <option value="" disabled selected hidden>-- Vehicle Type --</option>
                                <option value="SUV"> SUV </option>
                                <option value="Sport"> Sport </option>
                                <option value="Sedan"> Sedan </option>
                            </select>
                        </div>
                    </div>

                    <div style="text-align: center" class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group text-center">
                            <label></label>

                            <select class="text-center" name="brand">
                                <option value="" disabled selected hidden>-- Brand --</option>
                                <option value="BMW"> BMW </option>
                                <option value="Porsche"> Porsche </option>
                                <option value="Volkswagen"> Volkswagen </option>
                                <option value="Honda"> Honda </option>
                                <option value="Mazda"> Mazda </option>
                                <option value="Volvo"> Volvo </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="main-button text-center">
                            <input type="submit" value="Search" name="Search" />
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="main-button text-center">
                            <input type="button" value="Clear" onclick="clearFilter()" />
                        </div>
                    </div>
                </div>


                <br>
                <br>
            </form>
        </div>

        <div class="row">
            <div th:each="vehicle: ${pagination}" class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img th:src="@{${vehicle.img}}" alt="">
                    </div>
                    <div class="down-content">
                            <span>
                                <h6 style="display: inline-block">$</h6>
                                <h6 style="display: inline-block" th:text="${vehicle.getPrice()}"></h6>
                            </span>

                        <div>
                            <h4 class="card-title" style="display: inline-block " th:text="${vehicle.getVehicleMake()}"></h4>
                            <h4 class="card-title" style="display: inline-block " th:text="${vehicle.getVehicleModel()}"></h4>
                        </div>

                        <div>
                            <p class="card-text" style="display: inline-block" th:text="${vehicle.getVehicleHorsepower()}"></p>
                            <p class="card-text" style="display: inline-block" >/</p>
                            <p class="card-text" style="display: inline-block" th:text="${vehicle.getVehicleType()}"></p>
                            <p class="card-text" style="display: inline-block" >/</p>
                            <p class="card-text" style="display: inline-block" th:text="${vehicle.getVehicleYear()}"></p>
                        </div>

                        <ul class="social-icons">
                            <li><a th:href="@{car/{id}(id = ${vehicle.vehicleId})}">+ View Car</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <nav>
            <ul th:if="${pagination.getTotalPages() > 1}" class="pagination pagination-lg justify-content-center">
                <li  class="page-item">
                    <a th:if="${page > 1}" class="page-link" th:href="@{/cars(page = ${page} - 1, limit = ${limit})}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:if="${page > 1}" class="page-item">
                    <a class="page-link" th:href="@{/cars(page= ${page} - 1, limit=${limit})}" th:text="${page} - 1"></a>
                </li>
                <li class="page-item"><a class="page-link" href="#" th:text="${page}"></a></li>
                <li class="page-item" th:if="${page<pagination.getTotalPages()}">
                    <a class="page-link" th:href="@{/cars(page= ${page} + 1, limit = ${limit})}" th:text="${page} + 1"></a>
                    </li>
                <li class="page-item" th:if="${page<pagination.getTotalPages()}">
                    <a class="page-link" th:href="@{/cars(page= ${page} + 1, limit = ${limit})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</section>
<!-- ***** Fleet Ends ***** -->

<footer th:replace="layout/frag :: footer"></footer>
<div th:replace="layout/frag :: script"></div>
<script type="text/javascript">
    function clearFilter(){
        window.location= "/cars";
    }
</script>
</body>
</html>